<Router AppAssembly="@typeof(Main).Assembly" AdditionalAssemblies="@assemblies">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>

@code
{
    public List<System.Reflection.Assembly> assemblies { get; set; } = new List<System.Reflection.Assembly> {
        typeof(portal.Pages._discovery).Assembly
    };
}